#premierp{
  background-color: #6a89cc;
}

#deuxiemep{
  background-color: #b8e994;
}

#troisiemep{
  background-color: #b71540;
}

#image_calais{
  width : 250px;
  height : 250px;
}

#paragraphes{
  background-position: center;
  text-align: center;
}
